allowed-duplicate-crates = [
    "base64",
    "bitflags",
    "itertools",
    "thiserror",
    "thiserror-impl",
    "unicode-width",
    "windows-sys",
    "windows-targets",
    "windows_aarch64_gnullvm",
    "windows_aarch64_msvc",
    "windows_i686_gnu",
    "windows_i686_msvc",
    "windows_x86_64_gnu",
    "windows_x86_64_gnullvm",
    "windows_x86_64_msvc",
]
