name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Run cargo test
        run: cargo test --workspace --all-features

  coverage:
    runs-on: ubuntu-latest
    name: Test Coverage
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: stable
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - uses: taiki-e/install-action@2723513a70062521fb56e5df87a04967751efd2f
        with:
          tool: cargo-llvm-cov
      - run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload to codecov.io
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  benchmarks:
    name: Test that benchmarks run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Run cargo test
        run: cargo test --benches --workspace --all-features

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - run: cargo fmt -- --check
      - run: cargo clippy --workspace --all-features --all-targets

      - uses: taiki-e/install-action@2723513a70062521fb56e5df87a04967751efd2f
        with:
          tool: cargo-hack
      - name: cargo hack
        # Check that all feature combinations work
        run: cargo hack check --feature-powerset --no-dev-deps

  semver:
    name: semver
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@5b298c9520f7096a4683c0bd981a7ac5a7e249ae

  msrv:
    runs-on: ubuntu-latest
    # we use a matrix here just because env can't be used in job names
    # https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    strategy:
      matrix:
        msrv: [1.83.0]
    name: MSRV
    steps:
      - uses: actions/checkout@v6
      - name: Install ${{ matrix.msrv }}
        uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: ${{ matrix.msrv }}
      - name: cargo +${{ matrix.msrv }} check
        run: cargo check

  minimal-versions:
    name: Check minimal versions
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - run: cargo generate-lockfile -Z direct-minimal-versions
      - run: cargo test --locked --workspace --all-features
