name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: Run cargo test
        run: cargo test --workspace --all-features

  coverage:
    runs-on: ubuntu-latest
    name: Test Coverage
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
      - uses: taiki-e/install-action@ebb229c6baa68383264f2822689b07b4916d9177
        with:
          tool: cargo-llvm-cov
      - run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload to codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  benchmarks:
    name: Test that benchmarks run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: Run cargo test
        run: cargo test --benches --workspace --all-features

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - run: cargo fmt -- --check
      - run: cargo clippy --workspace --all-features --all-targets

      - uses: taiki-e/install-action@ebb229c6baa68383264f2822689b07b4916d9177
        with:
          tool: cargo-hack
      - name: cargo hack
        # Check that all feature combinations work
        run: cargo hack check --feature-powerset --no-dev-deps

  semver:
    name: semver
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@5b298c9520f7096a4683c0bd981a7ac5a7e249ae

  msrv:
    runs-on: ubuntu-latest
    # we use a matrix here just because env can't be used in job names
    # https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    strategy:
      matrix:
        msrv: [1.83.0]
    name: MSRV
    steps:
      - uses: actions/checkout@v5
      - name: Install ${{ matrix.msrv }}
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: ${{ matrix.msrv }}
      - name: cargo +${{ matrix.msrv }} check
        run: cargo check

  minimal-versions:
    name: Check minimal versions
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - run: cargo generate-lockfile -Z direct-minimal-versions
      - run: cargo test --locked --workspace --all-features
