name: Release

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: read

jobs:
  release:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331
        with:
          toolchain: stable
      - name: Publish to crates.io
        env:
          CRATES_IO_TOKEN: ${{secrets.CRATES_IO_TOKEN}}
        run: |
          cargo publish --token "${CRATES_IO_TOKEN}"
