name: Security audit

on:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/install@v0.1.2
        with:
          crate: cargo-audit
          version: latest
      - uses: actions-rs/audit-check@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
